body {
    box-sizing: border-box;
}

.content-menulis, .content-utama{
    background-color: indianred;
}
.content-utama {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100svh;
}

.utama {
    margin: auto;
    text-align: center;
}
.utama > .header {
   color: aliceblue;
   text-transform: uppercase;
   font-size: x-large;
}

.utama > p {
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: large;
    margin: 25px 0px;
}

.utama > button, .utama > .hobi-hobi > a > button {
    border: none;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: brown;
    cursor: pointer;
}

.utama > .hobi-hobi > a > button:hover{
    background-color: whitesmoke;
    color: indianred;

}


@media screen  and (max-device-width: 600px) { 
   .content-utama {
    box-sizing: border-box;
    padding: 0px 10px;
   }
 }


.content-menulis {
 display: grid;
 grid-template-columns: auto auto auto;
 grid-template-rows: auto;
 gap: 25px;
 width: 100%;
 height: 100svh;
 box-sizing: border-box;
 padding: 25px;
}

.content-menulis > .active{
    display: flex;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

.content-menulis > .active:nth-child(odd){
    background-color: whitesmoke;
    color: brown;
    
}

.content-menulis > .active:nth-child(even){
    background-color: brown;
    color: whitesmoke;
    
}
.content-menulis > .menulis > .header{
    display: none;
}

.content-menulis > .active > .header a{
    text-decoration: none;
    color: inherit;
}
.content-menulis > .active > .header{
    display: block;
    cursor: pointer;
    margin: auto;
    font-weight: bolder;
    padding: 20px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen  and (max-device-width: 768px) { 
    .content-menulis {
     grid-template-columns: auto;
    }

    .content-menulis > .active{
        font-size: medium;
       }
 }
 


.menulis-isi{
    display: grid;
    height: 100svh;
    grid-template-columns: auto;
    justify-content: center; 
    padding: 35px 25%;
    text-align: justify;
    background-color: white;
}

.menulis-isi > .isi > h2{
color: black;
text-align: center;
text-transform: capitalize;
margin-bottom: 50px;

}
.menulis-isi > .isi > p, .menulis-isi > .isi > .isi-kategori{
color: rgb(58, 58, 58);
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
word-spacing: 1px;
letter-spacing: 1px;
line-height: 25px;
}


.menulis-isi > .isi > .isi-kategori{
    font-style: italic;
    font-size: medium;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .menulis-isi{
        padding: 20px 10%;
        
       }

       .menulis-isi > .isi > p{
      
        font-size: 16px;
        }
 }

@media only screen and (max-device-width: 480px) {
   .menulis-isi{
    padding: 15px 5%;
 
   }

   .menulis-isi > .isi > p{
  
    font-size: 15px;
    }
 }
